
<!-- card ship -->

<div class="container container-fluid">
    <div class="complete-card row">
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-4">
                <a href="/starshipList"></a>
                <img src="assets/placeholder.jpg" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">{{actualShip.name.toUpperCase()}}</h3>
                  <p class="card-text">Model: {{actualShip.model}}</p>
                  <p class="card-text">Class: {{actualShip.starship_class}}</p>
                  <p class="card-text">Manufacturer: {{actualShip.manufacturer}}</p>
                  <p class="card-text">Cost: {{actualShip.cost_in_credits}} credits</p>
                  <p class="card-text">Length: {{actualShip.length}}m</p>
                  <p class="card-text">Speed:{{actualShip.max_atmosphering_speed}}km/h</p>
                  <p class="card-text">Crew:{{actualShip.crew}}</p>
                  <p class="card-text">Consumable: {{actualShip.consumables}}</p>
                  <p class="card-text">Hyperdrive rating: {{actualShip.hyperdrive_rating}}</p>
                  <p class="card-text">MGLT: {{actualShip.MGLT}}</p>
                  
                </div>
              </div>
            </div>
          </div>
    </div>
</div>