.container-fluid {
    background-color: black;
    margin:0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.card-text {
    font-size: 1rem;
    font-family:  'Courier New',Courier, monospace;
    @media (max-width: 768px) {
        font-size:.75rem;
        max-width: 100%;
    }    
    @media (max-width: 1200px) {
        font-size:.85rem;
        max-width: 100%;
    } 
}

.card {
    max-width: 80%;
    background-color: rgba(29,30,32,255);
    color: whitesmoke;
    border: 1px solid #111111b7;
    padding: 0;
    font-size: 14px;
    @media (max-width: 768px) {
        max-width: 60%;
    }  
    @media (max-width: 576px) {
        margin-left: 0;
        margin-right: 0;
        max-width: 80%;
               
    }
    &::before {
        content: '';
        position: absolute;
        bottom: -1px; 
        right: 100px;
        width: 100px;
        height: 10px;
        background-color: rgb(0, 0, 0); 
        border-radius: 3px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
        clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%); 
    }
    
}



#img {
    display: flex;
    align-items: center;
    justify-content: center;
  
    img {
      width: 100%;
      height: 100%;
      flex-shrink: 1;
      object-fit: cover;  
    }
  }
  

.img-fluid{
    @media (max-width: 576px) {     
        height: 100%;       
    }
}

.btn-star {
    color:whitesmoke;
    border: 1px solid yellow;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.367);
    max-width: 20rem;    
    
}

a {
    color: whitesmoke;
    text-decoration: none;  
    &:hover {
        color: yellow;
    }
}


/* Contenedor general de la barra de carga */
.lightsaber-progress {
    margin-top: 3rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #222; /* Fondo oscuro para contraste */
    border-radius: 5px;
    overflow: hidden;
    width: 90%; /* Tamaño completo de la barra */
  }
  
  /* Empuñadura de la espada */
  .lightsaber-hilt {
    width: 30px;
    height: 100%;
    background-color: #333;
    border-right: 3px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 0 5px #000;
  }
  
  /* Estilo de la hoja de la espada láser */
  .lightsaber-blade {
    height: 100%;
    background: linear-gradient(90deg, #007bff, #33ccff); /* Color de la espada */
    box-shadow: 0 0 10px #33ccff, 0 0 20px #33ccff; /* Efecto de brillo */
    transition: width 0.4s ease; /* Animación de la progresión */
    color: #170023;
  }
  