
<div class="card container-fluid col-8 col-md-7 col-lg-5 col-xl-4 col-xxl-3 mt-5">
  <div class="row pb-2">
    <h5>You are not registered, 
      join the dark side here</h5>
  </div>
  <form [formGroup]="registerForm">
    <div class="mb-3">
      <span class="d-flex mb-1">
        <label htmlFor="inputname" class="form-label">Name</label>
      </span>
      <input type="text" class="form-control" id="inputname" formControlName="name" [ngClass]="{
            'is-invalid':
              registerForm.get('name')?.invalid &&
              registerForm.get('name')?.touched
          }" />
      @if(registerForm.get('name')?.invalid &&
      registerForm.get('name')?.touched) {
      <div class="text-danger">
        @if(registerForm.get('name')?.errors?.['required']) { First name is
        required } @if(registerForm.get('name')?.errors?.['minlength']) { Must
        be at least 3 characters long }
        @if(registerForm.get('name')?.errors?.['pattern']) { Only letters are
        allowed }
      </div>
      }
    </div>
    <div class="mb-3">
      <span class="d-flex">
        <label htmlFor="inputlastName" class="form-label">Surname</label>
      </span>
      <input type="text" class="form-control" id="inputlastName" formControlName="lastName" [ngClass]="{
            'is-invalid':
              registerForm.get('lastName')?.invalid &&
              registerForm.get('lastName')?.touched
          }" />
      @if(registerForm.get('lastName')?.invalid &&
      registerForm.get('lastName')?.touched) {
      <div class="text-danger">
        @if(registerForm.get('lastName')?.errors?.['required']) { Last name is
        required } @if(registerForm.get('lastName')?.errors?.['minlength']) {
        Must be at least 3 characters long }
        @if(registerForm.get('lastName')?.errors?.['pattern']) { Only letters
        are allowed }
      </div>
      }
    </div>
    <div class="mb-3">
      <span class="d-flex ">
        <label htmlFor="inputEmail" class="form-label">Email</label>
      </span>
      <input type="email" class="form-control" id="inputEmail" formControlName="email" [ngClass]="{
            'is-invalid':
              registerForm.get('email')?.invalid &&
              registerForm.get('email')?.touched
          }" />
      @if(registerForm.get('email')?.invalid &&
      registerForm.get('email')?.touched) {
      <div class="text-danger">
        @if(registerForm.get('email')?.errors?.['required']) { Email is required
        } @if(registerForm.get('email')?.errors?.['email']) { Email must have a
        correct structure }
      </div>
      }
    </div>
    <div class="mb-3">
      <span class="d-flex ">
        <label htmlFor="inputPassword" class="form-label">Password</label>
      </span>
      <input type="password" class="form-control" id="inputPassword" formControlName="password" [ngClass]="{
            'is-invalid':
              registerForm.get('password')?.invalid &&
              registerForm.get('password')?.touched
          }" />
      @if(registerForm.get('password')?.invalid &&
      registerForm.get('password')?.touched) {
      <div class="text-danger">
        @if(registerForm.get('password')?.errors?.['required']) { Password is
        required } @if(registerForm.get('password')?.errors?.['minlength']) {
        Must be at least 3 characters long }
        @if(registerForm.get('password')?.errors?.['maxlength']) { Must have a
        maximum of 8 characters }
        @if(registerForm.get('password')?.errors?.['pattern']) { Must have at
        least one uppercase letter and at least 1 number }
      </div>
      }
    </div>
    <span class="d-flex justify-content-center mb-1">
      <button type="submit" (click)="onRegister()" class="btn btn-star">Register</button>
    </span>

  </form>
  @if(errorMessage){
    <span class="d-flex justify-content-center">
      <div class="text-danger">
        {{ errorMessage }}
      </div>
    </span>      
  }
  
</div>