@import "bootstrap-icons/font/bootstrap-icons.css";

.navbar {
  background-color: rgb(0, 0, 0);
  color: whitesmoke !important;
  border-bottom: 1px solid white;
  display: flex;
  flex-basis: auto;
}

.navbar-brand {
  display: flex;
  margin: auto;
  color: rgb(255, 255, 255);
  font-family: StarJedi, monospace;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  @media (max-width: 576px) {
    font-size: 1rem;
    
  }
}

.bi {
  width: 100px;
  height: 100px;
  color: whitesmoke;
  margin: 0;
}
