

<nav class="navbar navbar-expand-md nav-title">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="d-flex">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    
      <div class="collapse navbar-collapse ms-3" id="navbarText">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-instagram"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-tiktok"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-youtube"></i></a>
          </li>
        </ul>
      </div>
    </div>


    <a class="navbar-brand mx-auto" href="#">Star Wars</a>

    <div>
      <a class="nav-item nav-link mx-4" aria-current="page"  [routerLink]="['/login']">
        <i class="bi bi-person"></i> Login
      </a>
    </div>
  </div>
</nav>

<nav class="justify-content-center">
  <ul class="nav justify-content-center nav-menu">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/starshipsList">STARSHIPS</a>
    </li>
  </ul>
</nav>


