<div class="container container-fluid " id="home">
  <div id="carousel" class="carousel slide ">
    <div class="carousel-inner ">

      <div class="carousel-item active image-container">
        <img class="image d-block w-auto "
          src="https://lumiere-a.akamaihd.net/v1/images/sw-the-phantom-menace-emeahero-desktop_c502bf98.jpeg?region=0,0,1600,686"
          alt="revenge of sith">
        <div class="bg-logo">
          <img class="logo"
            src="https://lumiere-a.akamaihd.net/v1/images/the-phantom-menace-dplus-logtitle-800_3995f8db_ab4b28e7.png?region=0,0,800,434"
            alt="revege of sith - logo">
        </div>
      </div>

      <div class="carousel-item image-container">
        <img class="image d-block w-auto "
          src="https://lumiere-a.akamaihd.net/v1/images/sw-attack-of-the-clones-hero-desktop_ac699f48.jpeg?region=0,0,1600,686"
          alt="revenge of sith">
        <div class="bg-logo">
          <img class="logo"
            src="https://lumiere-a.akamaihd.net/v1/images/attack-of-the-clones-dplus-logotitle-800_703636e1.png?region=0,0,800,419"
            alt="revege of sith - logo">
        </div>
      </div>
      
      <div class="carousel-item image-container">
        <img class="image d-block w-auto "
          src="https://lumiere-a.akamaihd.net/v1/images/revenge-of-the-sith-desktop-2048-878_ca214a3f.jpeg?region=0,0,2048,878&width=1536"
          alt="revenge of sith">
        <div class="bg-logo">
          <img class="logo"
            src="https://lumiere-a.akamaihd.net/v1/images/revenge-of-the-sith-dplus-logotitle-800_53d94418.png?region=0,0,800,493"
            alt="revege of sith - logo">
        </div>
      </div>
<!-- 4 -->
      <div class="carousel-item image-container">
        <img class="image d-block w-auto " id="hopeImg"
          src="https://lumiere-a.akamaihd.net/v1/images/sw-anh-fil-page-sw2-hero-desktop_f860b9e4.jpeg?region=0,0,2048,878"
          alt="revenge of sith">
        <div class="bg-logo">
          <img class="logo"
            src="https://lumiere-a.akamaihd.net/v1/images/a-new-hope-logo_88b7ec98_03d5f833.png?region=0,0,800,218"
            alt="revege of sith - logo">
        </div>
      </div>
      <!-- 5 -->
      <div class="carousel-item image-container">
        <img class="image d-block w-auto "
          src="https://lumiere-a.akamaihd.net/v1/images/the-empire-strikes-back-desktop_653c16c0.jpeg?region=0,0,2048,878&width=1536"
          alt="revenge of sith">
        <div class="bg-logo">
          <img class="logo"
          src="https://lumiere-a.akamaihd.net/v1/images/the-empire-strikes-back-logo_dcd5716c.png?region=0,0,800,381"
            alt="revege of sith - logo">
        </div>
      </div>
      <div class="carousel-item image-container">
        <img class="image d-block w-auto "
        src="https://lumiere-a.akamaihd.net/v1/images/return-of-the-jedi-desktop_816eb7ca.jpeg?region=0,0,2048,878&width=1536"
          alt="revenge of sith">
        <div class="bg-logo">
          <img class="logo"
          src="https://lumiere-a.akamaihd.net/v1/images/return-of-the-jedi-logo_4651f88e.png?region=0,0,800,497" alt="revege of sith - logo">
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- <div class="row justify-content-center m-4">
    <div class="image-comtainer">

      <img class="image"
        src="https://lumiere-a.akamaihd.net/v1/images/revenge-of-the-sith-desktop-2048-878_ca214a3f.jpeg?region=0,0,2048,878&width=1536"
        alt="revenge of sith">


      <img class="logo"
        src="https://lumiere-a.akamaihd.net/v1/images/revenge-of-the-sith-dplus-logotitle-800_53d94418.png?region=0,0,800,493"
        alt="">
    </div>
  </div> -->