.container {
    display: flex;
    justify-content: center;

}

#carousel {
    width: 90%;
    margin-top: 3rem;

}

.image-container {
    position: relative;
}

.logo {
    position: relative;
    width: 27%;
    height: auto;
    top: 50%;
    left: 15%;


}

.bg-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: linear-gradient(to right, black 0%, transparent 100%);
    z-index: 0;

}

.image {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: -1;

}

#hopeImg {
    transform: scaleX(-1);
}