.card {
    background-color: #111111b7;
    color: whitesmoke;
    border: 1px solid #111111b7;
    width: 50%;
}

a {
    color: whitesmoke;
    text-decoration: none;

}

a:hover {
    text-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.528)
}

.form-label{
    color: yellow ;
    font-size: large;
    margin: 1rem;
}
.btn-star {
    color: yellow;
    border: 1px solid yellow;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.367);
    max-width: 10rem;
    margin: 1rem;

}

.form-control {
    justify-content: start;
    background-color: black;
    border: 1px solid #111111b7;
    color: whitesmoke;
    width: 100%
}