<div class="container  container-list">
  <div class="list-ships d-flex row justify-content-center">
    @for(ship of arrayShips; track ship.url) {

    <div class=" col-md-6 col-sm-12 card-link">
      <a (click)="getUrlShip(ship.url)" [routerLink]="['/starshipCard']">
        <div class="m-2 card card-ship my-2">
          <div class="row">
            <div class="col-6">
              <div class="card-img" id="img">
                <img src="{{showImage(ship.url)}}" class="img-fluid rounded-start m-0"
                  onerror="this.src='./assets/placeholder.jpg'" alt="{{ship.name}} image">
              </div>
            </div>
            <div class="col-6">
              <div class="card-body px-0">
                <p class="card-title" id="name">{{ship.name.toUpperCase()}} </p>
                <p class="card-subtitle mb-2" id="model">{{ship.model}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    }
    @if(nextUrl != null) {
    <div class="row justify-content-center">
      <button class="btn btn-star" (click)="showMore()"> View more </button>
    </div>
    }

  </div>

</div>