
<div class="container container-fluid">
    <!-- llista -->
      <div class="list-ships row justify-content-center">
          @for(ship of arrayShips; track ship.url) {
  
              <div class=" col-10 card-link">
                <a href="/starshipCard">
                  <div class="m-2 card my-2">
                      <div class="card-body">
                          <h5 class="card-title">{{ship.name.toUpperCase()}} </h5>
                          <h6 class="card-subtitle mb-2">{{ship.model}}</h6>
                      </div>
                  </div>
                </a>
              </div>
          }
          @if(nextUrl != null) {
                      <div class="row justify-content-center">

            <button class="btn btn-star" (click)="showMore()"> Show more
              
            </button>
          </div>
          }

      </div>
  
  </div>
  